$color-primary: #E53F4C;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* $xxs: 4px;
$xs: 8px;
$s: $m;
$m: 24px;
$l: 32px;
$xl: 48px;
$xxl: 64px;
$xxxl: 92px; */

$xxxs: 0.125rem;   // 2px
$xxs: 0.25rem;     // 4px
$xs: 0.375rem;     // 6px
$x: 0.5rem;        // 8px
$s: 0.75rem;       // 12px
$m: 1rem;          // $m
$l: 1.25rem;       // 20px
$xl: 1.5rem;       // 24px
$xxl: 2rem;        // 32px
$xxxl: 2.5rem;     // 40px
$xxxxl: 3rem;      // 48px
$xxxxxl: 3.5rem;   // 56px


Font
/* $6xl: 72;
$7xl: 96;
$8xl: 128;
$9xl: 176; */


.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
  
}


.caption {
  color: #ffffff7a;
  font-size: 0.625rem;
  font-family: "Poppins", sans-serif;
  margin-top: $xs;
  font-weight: 400;
  letter-spacing: 0.04rem;
}

.label__input {
  color: #ffffff;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
}

/* .display__desktop {
  line-height: 100%;
  width: 100vw;
  display: contents;
  @media (max-width: 600px) {
    display: none;
  }
} */

/* .display__mobile {
  display: none;

  @media (max-width: 600px) {
    display: block;
    font-size: 32px;
    text-align: center;
    line-height: 120%;
  }
} */

.display {
  width: 100vw;
  color: #ffffee;
  font-family: "Poppins", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  line-height: 120%;

  /* ---------------------- */
  /* .typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white; // Cursor
    font-size: 37px;
    animation: typing 5s steps(30, end) infinite, blink-caret 0.75s step-end infinite;
    
    // Cambio de texto
    &::after {
      content: "tecnología"; // Primera palabra
      display: block;
      animation: changeText 15s steps(1, end) infinite;
    }
  }
  
  // Animación de escritura
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%; // Ajusta el ancho para el texto completo
    }
  }
  
  // Animación del parpadeo del cursor
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }
  
  // Animación de cambio de texto
  @keyframes changeText {
    0%, 33% {
      content: "tecnología";
    }
    34%, 66% {
      content: "Diseño";
    }
    67%, 100% {
      content: "Marketing";
    }
  } */

  
  /* --------------------------- */

  @media (max-width: 600px) {
    font-size: 2.75rem;
  }
}

.label__page {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: #9f92ff;
  padding: $x $m;
  background-color: #7868f62a;
  border-radius: $x;

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}



.h1__page {
  color: #FFFFEE;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  text-align: center;
  line-height: 140%;



  
  @media (max-width: 600px) {
    font-size: 2rem;
  }

  &--section {
    margin-top: $m;
  }

  &--alignleft {
    text-align: left;
  }
  &--aligncenter {
    text-align: center;
  }
}

.h2__page {
  color: #ffffee;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  line-height: 140%;
  @media (max-width: 600px) {
    font-size: 32px;
  }

  &--section {
    margin-top: $m;
  }

  &--alignleft {
    text-align: left;
  }
}

.paragraph {
  color: #ffffff;
  font-family: "Poppins", sans-serif;

  &__large {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;

    &--sectionLarge {
      margin-top: 3rem;
    }
    &--sectionMedium {
        margin-top: 2rem;
      }

    &--aligncenter {
      text-align: center;
    }

    &--alignleft {
      text-align: left;
    }
    @media (max-width: 600px) {
      font-size: 1.125rem;
      margin-top: 2rem;
    }
  }

  &__small {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: $m;

    &--section {
      margin-top: $m;
    }

    &--aligncenter {
      text-align: center;
    }

    &--alignleft {
      text-align: left;
    }
    @media (max-width: 600px) {
      font-size: 0.875rem;
    }
  }
}

a {
  font-family: "Poppins", sans-serif;
}

.button {
  color: #ffffff;
  height: 3rem;

  font-size: 1.125rem;
  font-weight: 700;
  padding: 0 2rem;
  justify-content: center;
  font-family: "Poppins", sans-serif;

  display: flex;
  align-items: center;
  border-style: none;

  &__primary {
    background-color: $color-primary;
    box-sizing: border-box;
    text-decoration: none;

    border-radius: 2.5rem;

    &--absolute {
      position: absolute;
      right: $xs;
    }

    &--width100 {
      width: 100%;
    }
    &--widthfit {
      width:fit-content;
    }
  }

    &__secondary {
  
      /* box-sizing: border-box; */
      text-decoration: none;
  
      border-radius: 2.5rem;
      border-width: 0.125rem;
      /* Cambiado de border-style a border-width */
      border-style: solid;
      /* Agregado border-style */
      border-color: #ffffff;
  
      /* &--absolute {
        position: absolute;
        right: $xs;
      } */
  
      &--width100 {
        width: 100%;
      }
  
      &--widthfit {
        width: fit-content;
      }

      &--space {
        display: flex;
        gap: $x;
        
      }
    }

  .logo-search {
    padding-right: $x;
    display: inline-block;
  }
}
.options {
  height: 4.5rem;
  display: block;
  min-height: 8.2em;
}
.select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem $m;
  background: #0e0e25;
  border-radius: $x;
  height: 3rem;
  background-color: none;
  outline: none;
  margin: $x 0;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: rgba(255, 255, 255, 0.2);
  font-size: 0.875rem;
  color: #ffffff;

  /* &--type {} */

  &:hover {
    border-style: solid;
    /* border-width: 1px; */
    border-color: #888c99;
  }

  &:focus {
    /* border-style: solid;
    border-color: #07cdbd;
    
    border-width: 1px;
    outline-offset: 5px; */
    border: 0.0625rem solid #2997ff;
    outline: 0.25rem solid #2997ff27;
    /* outline-offset: 4px; */
  }
  &--margin-top {
    margin-top: $l;
  }

  &--margin-botton {
    margin-bottom: $s;
  }
}

.input {
  /* border-right: $m solid transparent; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem $m;
  background: #0e0e25;
  border-radius: $x;
  height: 3rem;
  background-color: none;
  outline: none;
  margin: $x 0;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: rgba(255, 255, 255, 0.2);
  font-size: 0.875rem;
  color: #ffffff;
  color-scheme: dark;

  /* &--type {} */

  &:hover {
    border-style: solid;
    /* border-width: 1px; */
    border-color: #888c99;
  }

  &:focus {
    /* border-style: solid;
    border-color: #07cdbd;
    
    border-width: 1px;
    outline-offset: 5px; */
    border: 0.0625rem solid #2997ff;
    outline: 0.25rem solid #2997ff27;
    /* outline-offset: 4px; */
  }
  &--margin-top {
    margin-top: $l;
  }

  &--margin-botton {
    margin-bottom: $s;
  }
}

.padding_select {
  padding-right: $m solid #2997ff;
  &:focus {
    /* border-style: solid;
  border-color: #07cdbd;
  
  border-width: 1px;
  outline-offset: 5px; */
    border: 0.0625rem solid #2997ff;
    outline: 0.25rem solid #2997ff27;
    border-right: $m solid #2997ff;

    /* outline-offset: 4px; */
  }

  &:active {
    border-right: $m solid transparent;
  }
}