$color-primary: #e5204f;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$xxs: 4px;
$xs: 8px;
$s: 16px;
$m: 24px;
$l: 32px;
$xl: 48px;
$xxl: 64px;
$xxxl: 92px;

.caption {
  color: #ffffff7a;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  margin-top: 16px;
  font-weight: 400;
  letter-spacing: 0.04rem;
}

.label__input {
  color: #ffffff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.display__desktop {
  line-height: 140%;
  /* display: contents; */
  @media (max-width: 600px) {
    display: none;
  }
}

.display__mobile {
  display: none;

  @media (max-width: 600px) {
    display: block;
    font-size: 3rem;
    text-align: center;
    line-height: 140%;
  }
}

.label__page {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #9f92ff;
  padding: 8px 16px;
  background-color: #7868f62a;
  border-radius: 8px;

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

.display {
  color: #ffffee;
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 3rem;
  }
}

.h1__page {
  color: #ffffee;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  text-align: center;
  line-height: 140%;
  @media (max-width: 600px) {
    font-size: 32px;
  }

  &--section {
    margin-top: 16px;
  }

  &--alignleft {
    text-align: left;
  }
}

.paragraph {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  

  &__large{

    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;

    &--section {
      margin-top: 48px;
    }
  
    &--aligncenter {
      text-align: center;
    }
  
    &--alignleft {
      text-align: left;
    }
    @media (max-width: 600px) {
      font-size: 18px;
      margin-top: 32px;
    }

  }
  
  &__small{

    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;

    &--section {
      margin-top: 16px;
    }
  
    &--aligncenter {
      text-align: center;
    }
  
    &--alignleft {
      text-align: left;
    }
    @media (max-width: 600px) {
      font-size: 14px;
      
    }

  }
  

  
}

a {
  font-family: "Poppins", sans-serif;
}

.button {
  color: #ffffff;
  height: 48px;

  font-size: 18px;
  font-weight: 700;
  padding: 0 32px;
  justify-content: center;
  font-family: "Poppins", sans-serif;

  display: flex;
  align-items: center;
  border-style: none;

  &__primary {
    background-color: $color-primary;
    box-sizing: border-box;
    text-decoration: none;

    border-radius: 40px;

    &--absolute {
      position: absolute;
      right: $xs;
    }

    &--width100 {
      width: 100%;
    }
  }

  .logo-search {
    padding-right: 8px;
    display: inline-block;
  }
}
.options {
  height: 72px;
  display: block;
  min-height: 8.2em;
}
.select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  background: #0e0e25;
  border-radius: 8px;
  height: 48px;
  background-color: none;
  outline: none;
  margin: 8px 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  color: #ffffff;

  /* &--type {} */

  &:hover {
    border-style: solid;
    /* border-width: 1px; */
    border-color: #888c99;
  }

  &:focus {
    /* border-style: solid;
    border-color: #07cdbd;
    
    border-width: 1px;
    outline-offset: 5px; */
    border: 1px solid #2997ff;
    outline: 4px solid #2997ff27;
    /* outline-offset: 4px; */
  }
  &--margin-top {
    margin-top: $l;
  }

  &--margin-botton {
    margin-bottom: $s;
  }
}


.input {
  /* border-right: 16px solid transparent; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  background: #0e0e25;
  border-radius: 8px;
  height: 48px;
  background-color: none;
  outline: none;
  margin: 8px 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  color: #ffffff;
  color-scheme: dark;

  /* &--type {} */

  &:hover {
    border-style: solid;
    /* border-width: 1px; */
    border-color: #888c99;
  }

  &:focus {
    /* border-style: solid;
    border-color: #07cdbd;
    
    border-width: 1px;
    outline-offset: 5px; */
    border: 1px solid #2997ff;
    outline: 4px solid #2997ff27;
    /* outline-offset: 4px; */
  }
  &--margin-top {
    margin-top: $l;
  }

  &--margin-botton {
    margin-bottom: $s;
  }
}

.padding_select {
  padding-right: 16px solid #2997ff;
  &:focus {
    /* border-style: solid;
  border-color: #07cdbd;
  
  border-width: 1px;
  outline-offset: 5px; */
    border: 1px solid #2997ff;
    outline: 4px solid #2997ff27;
    border-right: 16px solid #2997ff;;

    /* outline-offset: 4px; */
  }

  &:active {
    border-right: 16px solid transparent;

  }
}
body {
  background-color: #000019;
  width: 100%;
  /* overflow-x: hidden; */
  /* overflow: hidden; */

  .gradient-1 {
    width: 800px;
    position:absolute;
    top: 300px;
    left: -50px;

    z-index: -1;
    @media (max-width: 600px) {
      width: 100%;
      top: 600px;
    }
  }

  .background-image-desktop {
    width: 100%;
    position: absolute;
    top: 0px;
    display: block;
    z-index: -2;
    @media (max-width: 600px) {
      display: none;
    }
  }

  .background-image-mobile {
    display: none;
    @media (max-width: 600px) {
      display: block;
      width: 100%;
      position: absolute;
      top: 0px;
      z-index: -2;
    }
  }

  .barranavegacion {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    height: 112px;
    position: fixed;
    z-index: 4;
    padding: 0 $xxl;
    top: 0px;

    @media (max-width: 600px) {
      justify-content: center;
      height: 72px;
    }

    .logo-barra {
      width: auto;
      display: inline-block;
      height: 48px;
      @media (max-width: 600px) {
        
        height: 32px;
      }
    }

    .menu {
      /* max-width: 100% !important; */
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;

      @media (max-width: 600px) {
        display: none;
      }

      .links {
        color: white;
        text-decoration: none;
        font-size: 18px;
      }

      hr {
        border-style: none;
        height: 24px;
        width: 1px;
        /* background-color: $Neutrals-Light-40; */
        opacity: 50%;
        border-radius: 2px;
        
      }

      .botones-usuario {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $s;

        .boton-iniciarSesion {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 56px;
          background-color: $color-primary;
          color: #ffffff;
          border-radius: 28px;
          padding: 0 32px;
          font-size: 20px;
          text-decoration: none;
        }

        .boton-registrarme {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 56px;
          background-color: $color-primary;
          color: #ffffff;
          border-radius: 28px;
          padding: 0 32px;
          font-size: 20px;
          font-family: "Poppins", sans-serif;
          text-decoration: none;
        }
      }
    }
  }

  main {
    display: flex;
    max-width: 1076px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    @media (max-width: 600px) {
      padding: 0 16px;
    }

    .why {
      max-width: 100%;
      /* display: flex;
                flex-direction: column; */
      /* justify-content: center; */
      /* align-items: center; */
      display: grid;
      justify-items: center;
      align-items: stretch;
      padding: 72px;
      margin-top: 144px;
      background: rgba(255, 255, 255, 0.08);
      backdrop-filter: blur(8px);
      border-radius: 44px;

      @media (max-width: 600px) {
        padding: 72px 16px;
        align-items: stretch;
        /* min-width: 1076px; */
      }

      .info {
        max-width: 100%;
        margin-top: 32px;
        display: grid;
        /* max-width: 600px; */
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
        grid-template-columns: repeat(5, min-content);
        gap: 32px;
        /* grid-template-columns: 1fr min-content; */
        /* grid-auto-flow: dense; */
        justify-items:center;
        
        align-items:center;
        @media (max-width: 600px) {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(5, min-content);
          gap: 12px;
          
        }
        /* margin-top: $xl; */

        div .gradient {
          background: linear-gradient(270deg, #e5204f 37.13%, #fffacd 100%);

          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          font-size: 48px;
          font-family: "Poppins", sans-serif;
          text-align: center;
          /* display: inline-block; */
          @media (max-width: 600px) {
            font-size: 32px;
            
          }
        }

        div > label {
          text-align: center;
          color: #ffffff;
          font-family: "Poppins", sans-serif;
        }

        hr {
          border-style: none;
          height: 132px;
          width: 1px;
          /* background-color: $Neutrals-Light-40; */
          /* opacity: 50%; */
          background-color: rgba(255, 255, 255, 0.16);
          border-radius: 2px;
          @media (max-width: 600px) {
            height: 1px;
          width: 100%;
            
            
          }
        }
      }
    }

    .learn {
      margin-top: 144px;
      display: grid;
      max-width: 100%;
      grid-template-columns: 1fr 1fr;
      justify-items: start;
      align-items: center;
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr;
        justify-items: center;
        overflow-x: hidden;

        /* min-width: 1076px; */
      }

      /* grid-template-columns: repeat(auto-fill minmax(min(100%, 400px) 1fr 1fr)); */

      .apps {
        max-width: 100%;
        height: auto;

        @media (max-width: 600px) {
          grid-row: 1;
          max-width: 100%;

          /* min-width: 1076px; */
        }
      }

      .heading__learn {
        max-width: 100%;
        display: grid;
        justify-items: start;
        @media (max-width: 600px) {
          grid-row: 2;
          margin-top: 32px;

          /* min-width: 1076px; */
        }
      }
    }

    .data {
      margin-top: 144px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1076px;
      align-self: center;
      align-items: center;
      height: fit-content;
      grid-auto-flow: dense;
      gap: 32px;
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr;
        gap: 32px;

        /* min-width: 1076px; */
      }
      .map-image {
        max-width: 90%;
        height: auto;
        @media (max-width: 600px) {
          max-width: 100%;

          /* min-width: 1076px; */
        }
      }

      .father-right {
        display: grid;

        justify-items: start;

        .container-input {
          display: flex;
          flex-direction: column;
          margin-top: 48px;
          width: 100%;
          /* align-items: stretch; */
          /* justify-content: center;
                    gap: 0px; */
        }

        .input__2 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 16px;
          @media (max-width: 600px) {
            grid-template-columns: 1fr;
          }
        }
      }

      .father-right > .data_button {
        margin-top: 32px;
        /* right: $xs; */
        background-color: $color-primary;
        color: #ffffff;
        height: 48px;
        border-radius: 40px;
        box-sizing: border-box;
        text-decoration: none;
        max-width: fit-content;
        font-size: 18px;
        font-weight: 700;
        padding: 0 32px;
        justify-content: center;
        font-family: "Poppins", sans-serif;

        display: flex;
        align-items: center;
        border-style: none;

        .logo-search {
          padding-right: 8px;
          display: inline-block;
        }
      }
    }
    
    .hero_image {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 250px;
      @media (max-width: 600px) {
        margin-top: 128px;
      }

      .ubication {
        color: #ffffff;
        font-size: 24px;
        text-decoration: none;
        gap: 8px;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
      }

      .first-data-mobile {
        display: none;

        @media (max-width: 600px) {
          display: contents;
        }
      }

      .first-data {
        margin-top: 32px;
        position: relative;
        width: 620px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 32px;

        @media (max-width: 600px) {
          display: none;
        }

        &__placeholder {
          position: absolute;

          /* top: 0; */
          font-size: 16px;
          /* padding-left: 16px; */
          padding-left: 24px;
          border-style: solid;
          border-color: #ffffff80;
          border-width: 1px;
          outline: none;
          width: 100%;
          height: 64px;
          color: #ffffff;
          outline: none;
          background-color: #ffffff17;
          border-radius: 32px;

          &:hover {
            border-style: solid;
            border-color: #d2e9ff;
            border-width: 1px;
          }

          &:focus {
            /* border-style: solid;
            border-color: #2997ff;
            border-width: 1px; */

            border: 1px solid #2997ff;
            outline: 4px solid #2997ff27;
          }
        }
      }
    }
    
  }
  .footer {
    padding: 176px 0;
    display: flex;
      align-items: center;
      flex-direction: column;
      gap: 16px;
    
    .logo-footer {
      display: block;
      margin: 0 auto;
      
    }

    .footer-social-media {
      display: flex;
      align-items: center;
      gap: 8px;
      
    }
    
  }
}
