* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.caption {
  color: rgba(255, 255, 255, 0.4784313725);
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  margin-top: 16px;
  font-weight: 400;
  letter-spacing: 0.04rem;
}

.label__input {
  color: #ffffff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.display__desktop {
  line-height: 140%;
  /* display: contents; */
}
@media (max-width: 600px) {
  .display__desktop {
    display: none;
  }
}

.display__mobile {
  display: none;
}
@media (max-width: 600px) {
  .display__mobile {
    display: block;
    font-size: 48px;
    text-align: center;
    line-height: 140%;
  }
}

.label__page {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #9f92ff;
  padding: 8px 16px;
  background-color: rgba(120, 104, 246, 0.1647058824);
  border-radius: 8px;
}
.label__page--left {
  text-align: left;
}
.label__page--center {
  text-align: center;
}
.label__page--right {
  text-align: right;
}

.display {
  color: #ffffee;
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  text-align: center;
}
@media (max-width: 600px) {
  .display {
    font-size: 48px;
  }
}

.h1__page {
  color: #ffffee;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  text-align: center;
  line-height: 140%;
}
@media (max-width: 600px) {
  .h1__page {
    font-size: 32px;
  }
}
.h1__page--section {
  margin-top: 16px;
}
.h1__page--alignleft {
  text-align: left;
}

.paragraph {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.paragraph__large {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
.paragraph__large--section {
  margin-top: 48px;
}
.paragraph__large--aligncenter {
  text-align: center;
}
.paragraph__large--alignleft {
  text-align: left;
}
@media (max-width: 600px) {
  .paragraph__large {
    font-size: 18px;
    margin-top: 32px;
  }
}
.paragraph__small {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.paragraph__small--section {
  margin-top: 16px;
}
.paragraph__small--aligncenter {
  text-align: center;
}
.paragraph__small--alignleft {
  text-align: left;
}
@media (max-width: 600px) {
  .paragraph__small {
    font-size: 14px;
  }
}

a {
  font-family: "Poppins", sans-serif;
}

.button {
  color: #ffffff;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  padding: 0 32px;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  border-style: none;
}
.button__primary {
  background-color: #e5204f;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 40px;
}
.button__primary--absolute {
  position: absolute;
  right: 8px;
}
.button__primary--width100 {
  width: 100%;
}
.button .logo-search {
  padding-right: 8px;
  display: inline-block;
}

.options {
  height: 72px;
  display: block;
  min-height: 8.2em;
}

.select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  background: #0e0e25;
  border-radius: 8px;
  height: 48px;
  background-color: none;
  outline: none;
  margin: 8px 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  color: #ffffff;
  /* &--type {} */
}
.select:hover {
  border-style: solid;
  /* border-width: 1px; */
  border-color: #888c99;
}
.select:focus {
  /* border-style: solid;
  border-color: #07cdbd;

  border-width: 1px;
  outline-offset: 5px; */
  border: 1px solid #2997ff;
  outline: 4px solid rgba(41, 151, 255, 0.1529411765);
  /* outline-offset: 4px; */
}
.select--margin-top {
  margin-top: 32px;
}
.select--margin-botton {
  margin-bottom: 16px;
}

.input {
  /* border-right: 16px solid transparent; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  background: #0e0e25;
  border-radius: 8px;
  height: 48px;
  background-color: none;
  outline: none;
  margin: 8px 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  color: #ffffff;
  color-scheme: dark;
  /* &--type {} */
}
.input:hover {
  border-style: solid;
  /* border-width: 1px; */
  border-color: #888c99;
}
.input:focus {
  /* border-style: solid;
  border-color: #07cdbd;

  border-width: 1px;
  outline-offset: 5px; */
  border: 1px solid #2997ff;
  outline: 4px solid rgba(41, 151, 255, 0.1529411765);
  /* outline-offset: 4px; */
}
.input--margin-top {
  margin-top: 32px;
}
.input--margin-botton {
  margin-bottom: 16px;
}

.padding_select {
  padding-right: 16px solid #2997ff;
}
.padding_select:focus {
  /* border-style: solid;
  border-color: #07cdbd;

  border-width: 1px;
  outline-offset: 5px; */
  border: 1px solid #2997ff;
  outline: 4px solid rgba(41, 151, 255, 0.1529411765);
  border-right: 16px solid #2997ff;
  /* outline-offset: 4px; */
}
.padding_select:active {
  border-right: 16px solid transparent;
}

body {
  background-color: #000019;
  overflow-x: hidden;
  /* overflow: hidden; */
}
body .gradient-1 {
  width: 800px;
  position: absolute;
  top: 300px;
  left: -50px;
  z-index: -1;
}
body .heroImage {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -2;
}
body .barranavegacion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
  height: 112px;
  position: fixed;
  z-index: 4;
  padding: 0 64px;
  top: 0px;
}
@media (max-width: 600px) {
  body .barranavegacion {
    justify-content: center;
    height: 92px;
  }
}
body .barranavegacion .logo-barra {
  width: auto;
  display: inline-block;
  height: 48px;
}
body .barranavegacion .menu {
  /* max-width: 100% !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
@media (max-width: 600px) {
  body .barranavegacion .menu {
    display: none;
  }
}
body .barranavegacion .menu .links {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
body .barranavegacion .menu hr {
  border-style: none;
  height: 24px;
  width: 1px;
  /* background-color: $Neutrals-Light-40; */
  opacity: 50%;
  border-radius: 2px;
}
body .barranavegacion .menu .botones-usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
body .barranavegacion .menu .botones-usuario .boton-iniciarSesion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  background-color: #e5204f;
  color: #ffffff;
  border-radius: 28px;
  padding: 0 32px;
  font-size: 20px;
  text-decoration: none;
}
body .barranavegacion .menu .botones-usuario .boton-registrarme {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  background-color: #e5204f;
  color: #ffffff;
  border-radius: 28px;
  padding: 0 32px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body main {
  display: flex;
  max-width: 1076px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 600px) {
  body main {
    padding: 0 16px;
  }
}
body main .why {
  max-width: 100%;
  /* display: flex;
            flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  display: grid;
  justify-items: center;
  align-items: stretch;
  padding: 72px;
  margin-top: 144px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  border-radius: 44px;
}
@media (max-width: 600px) {
  body main .why {
    padding: 72px 16px;
    align-items: stretch;
    /* min-width: 1076px; */
  }
}
body main .why .info {
  max-width: 100%;
  margin-top: 32px;
  display: grid;
  /* max-width: 600px; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(5, min-content);
  gap: 32px;
  /* grid-template-columns: 1fr min-content; */
  /* grid-auto-flow: dense; */
  justify-items: center;
  align-items: center;
  /* margin-top: $xl; */
}
@media (max-width: 600px) {
  body main .why .info {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    gap: 12px;
  }
}
body main .why .info div .gradient {
  background: linear-gradient(270deg, #e5204f 37.13%, #fffacd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  /* display: inline-block; */
}
@media (max-width: 600px) {
  body main .why .info div .gradient {
    font-size: 32px;
  }
}
body main .why .info div > label {
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
body main .why .info hr {
  border-style: none;
  height: 132px;
  width: 1px;
  /* background-color: $Neutrals-Light-40; */
  /* opacity: 50%; */
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 2px;
}
@media (max-width: 600px) {
  body main .why .info hr {
    height: 1px;
    width: 100%;
  }
}
body main .learn {
  margin-top: 144px;
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
  /* grid-template-columns: repeat(auto-fill minmax(min(100%, 400px) 1fr 1fr)); */
}
@media (max-width: 600px) {
  body main .learn {
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
    justify-items: center;
    overflow-x: hidden;
    /* min-width: 1076px; */
  }
}
body main .learn .apps {
  max-width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  body main .learn .apps {
    grid-row: 1;
    max-width: 100%;
    /* min-width: 1076px; */
  }
}
body main .learn .heading__learn {
  max-width: 100%;
  display: grid;
  justify-items: start;
}
@media (max-width: 600px) {
  body main .learn .heading__learn {
    grid-row: 2;
    margin-top: 32px;
    /* min-width: 1076px; */
  }
}
body main .data {
  margin-top: 144px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1076px;
  align-self: center;
  height: fit-content;
  grid-auto-flow: dense;
}
@media (max-width: 600px) {
  body main .data {
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
    /* min-width: 1076px; */
  }
}
body main .data .map-image {
  max-width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  body main .data .map-image {
    max-width: 100%;
    /* min-width: 1076px; */
  }
}
body main .data .father-right {
  display: grid;
  justify-items: start;
}
body main .data .father-right .container-input {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  width: 100%;
  /* align-items: stretch; */
  /* justify-content: center;
            gap: 0px; */
}
body main .data .father-right .input__2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
@media (max-width: 600px) {
  body main .data .father-right .input__2 {
    grid-template-columns: 1fr;
  }
}
body main .data .father-right > .data_button {
  margin-top: 32px;
  /* right: $xs; */
  background-color: #e5204f;
  color: #ffffff;
  height: 48px;
  border-radius: 40px;
  box-sizing: border-box;
  text-decoration: none;
  max-width: fit-content;
  font-size: 18px;
  font-weight: 700;
  padding: 0 32px;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  border-style: none;
}
body main .data .father-right > .data_button .logo-search {
  padding-right: 8px;
  display: inline-block;
}
body main .hero_image {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
body main .hero_image .ubication {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  gap: 8px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
body main .hero_image .first-data-mobile {
  display: none;
}
@media (max-width: 600px) {
  body main .hero_image .first-data-mobile {
    display: contents;
  }
}
body main .hero_image .first-data {
  margin-top: 32px;
  position: relative;
  width: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}
@media (max-width: 600px) {
  body main .hero_image .first-data {
    display: none;
  }
}
body main .hero_image .first-data__placeholder {
  position: absolute;
  /* top: 0; */
  font-size: 16px;
  /* padding-left: 16px; */
  padding-left: 24px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5019607843);
  border-width: 1px;
  outline: none;
  width: 100%;
  height: 64px;
  color: #ffffff;
  outline: none;
  background-color: rgba(255, 255, 255, 0.0901960784);
  border-radius: 32px;
}
body main .hero_image .first-data__placeholder:hover {
  border-style: solid;
  border-color: #d2e9ff;
  border-width: 1px;
}
body main .hero_image .first-data__placeholder:focus {
  /* border-style: solid;
  border-color: #2997ff;
  border-width: 1px; */
  border: 1px solid #2997ff;
  outline: 4px solid rgba(41, 151, 255, 0.1529411765);
}

/*# sourceMappingURL=styles.css.map */
